body {
    margin: 0 auto;
    background-color: rgb(212, 211, 211);
    font-family:Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

#header-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:rgb(213, 230, 230);
}

#title-container {
    padding-left:1.5rem;
}

#title-container h1 {
    font-size:larger;
}

#nav-container {
    padding-right:2rem;
}

nav a {
    padding: 1rem;
    color:rgb(110, 111, 111);
    text-decoration:none;
}

nav a:hover {
    color:black;
    border-bottom: 3px solid black;
}

.top-intro {
    max-width:80%;
    display:flexbox;
    margin:0 auto;
}

.top-intro p {
    max-width:50%;
}

#quick-view-cards {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    gap:20px;
    max-width:80%;
    justify-self: center;
    margin: 2rem auto;
    grid-template-areas: "A A A B B"
                         "C C D D D"
                         "E E E E E"
}


.quick-card-A {
    grid-area: A;
    background-color:rgb(236, 236, 236);
    border:2px dashed rgb(185, 185, 185);
    border-radius:5px;
    padding: 20px 20px;
}

.quick-card-B {
    grid-area: B;
    background-color:rgb(196, 196, 196);
    border:2px dashed rgb(185, 185, 185);
    border-radius:5px;
    padding: 20px 20px;
}

.quick-card-C {
    grid-area: C;
    background-color:rgb(196, 196, 196);
    border:2px dashed rgb(185, 185, 185);
    border-radius:5px;
    padding: 20px 20px;
}

.quick-card-D {
    grid-area: D;
    background-color:rgb(236, 236, 236);
    border:2px dashed rgb(185, 185, 185);
    border-radius:5px;
    padding: 20px 20px;
}

#prompt-card {
    grid-area: E;
    background-color:rgb(212, 211, 211);
    border:2px dashed rgb(185, 185, 185);
    border-radius:5px;
    padding: 20px 20px;
    text-align:center;

}

#full-cards {
    max-width:80%;
    margin:0 auto;
    padding:20px 20px;
}

.vault-card {
    background-color:rgb(236, 236, 236);
    border-radius:5px;
    padding:20px 20px;
    margin-top:20px;
    box-shadow: 5px 5px 5px rgba(59, 59, 59, 0.375);
}